# Ignore environment files
.env
.vscode
# Python cache files
*/__pycache__/
*/node_modules/
*.pyc
*.pyo
*.pyd
*.log


# Media files
log/
media/
template/
backup/
core/test/
public/
# But don't ignore these specific folders
!public/_phpdomain.local/
public/_reactdomain.local/node_modules/
!public/_reactdomain.local/
setup/
vendor/
rus/target/
# Specific directories and files
kronos/__pycache__/
kronos/genenv/
ermis/node_modules/
cubos/node_modules/
venus/node_modules/
ermis/services/aistudio/.env
ermis/services/botpress/.env
ermis/services/huggingface/.env
ermis/services/openai/.env
venus/services/openai/.env
/.env
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/vendor/
###< symfony/framework-bundle ###
###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
