#activity-widget {
    border-radius: 5px;
    overflow: hidden;
    width:100%;
}

#activities-container {
    max-height: 150px; /* Height for 5 activities */
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.activity {
    padding: 10px;
    border-bottom: 1px solid #eee;
    background-color: #f9f9f9;
}

.activity:nth-child(odd) {
    background-color: #fff;
}

#show-more {
    text-align: center;
    padding: 5px 0;
    cursor: pointer;
}

#show-more-btn {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}