body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  /* Replace the URL with the path to your image */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  background: black;
}
h1{
  color: navajowhite;
}
.site-wrap {
  background: url('./images/web_eligemodo.png') top/cover no-repeat fixed;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: navajowhite;
  text-align: center;
  width:100vw;
  height: 99vh;
}
#wrapper{
  display:block;
  color:navajowhite;
  background-color: rgba(60, 0, 0, 0.6);
  margin:0 auto;
  padding:1%;
  width: 78%;
  font-size: 1.2em;
}

header {
  background-color: rgba(60, 0, 0, 0.6);
  text-align: center;
  margin:0 auto;
  width: 80%;
}

nav {
  margin: 1%;
}

nav a {
  color: navajowhite;
  margin: 0 1%;
  text-decoration: none;
}
/* App.css */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.site-header {
  background-color: #333;
  color: navajowhite;
  text-align: center;
  padding: 15px;
}

.site-mobile-menu {
  display: none;
}


@media screen and (max-width: 768px) {
  .site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }

  .site-mobile-menu {
    display: block;
  }

  .site-mobile-menu-header {
    display: flex;
    justify-content: flex-end;
  }

  .icon-close2 {
    color: navajowhite;
    cursor: pointer;
  }

  .site-mobile-menu-body {
    padding: 15px;
  }
}
