fastapi
uvicorn
pydantic-settings
google-cloud-aiplatform
mysql.connector
aioredis
langchain
langchain_openai
langchain-community
openai
redis
markdown
pymysql
python-multipart
google-generativeai
pysolr
mysql-connector-python
cohere