.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.img-fluid {
  width:100%;
  height: auto;
  object-fit: cover;
  position: relative;
}
@media (min-width: 480px) {
  .img-fluid {
    height: 300px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
