body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.entry .body{
  margin: 0 0 1em;
}

@media only screen and (max-width: 768px) {
  .item-title {
    margin-top: 10px !important;
  }
}
.vertical {
  justify-content: center;
}

.vertical_alternating {
  justify-content: center;
}

@media only screen and (max-width: 578px) {
  div.vertical-item-row > div:nth-child(1) {
    width: 20% !important;
  }
  div.vertical-item-row > div:nth-child(2) {
    width: 65% !important;
  }
  div.vertical-item-row > div:nth-child(3) {
    width: 15% !important;
  }
}
